* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: lightgrey;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 15px;
    width: 400px;
}

h1 {
    color: #3a3a3a;
    margin-bottom: 20px;
    text-align: center;
}


table {
    width: 100%;
}

td {
    padding: 8px 0;
    color: #333;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

button{   
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;

}



